/*This style-sheet overrides the bulma.css in certain points*/

.body {
    background-color: #d8dbe2;
}

.header {
    background-color: #5dacbd;
}

.logo {
    display: flex;
    align-items: center;
}

.has-background {
    background-color: #ca6cb2;
}

.has-background1 {
    background-color: #28577c;
}

p {
    color: #e9ebef;
}

a {
    color: #28577c;
}

p > a {
    color: #e9ebef;
}

div {
    color: #28577c;
}

/*LOGIC FOR RESPONSIVENESS*/

@media (min-width: 768px) {
    .logo > img {
        height: 40%;
        width: 40%;
    }
}

@media (max-width: 767px) {
    .logo > img {
        height: 60%;
        width: 60%;
    }
}

.columns {
    justify-content: center;
}

/*LOGIC FOR ZOOM-EFFECT ON HOVER

Variables to be set randomly in random.js*/
:root {
    --posX: undefined;
    --posY: undefined;
}

/*Properties of the image container*/
.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
}

/*Transition and transform properties to define,
how the zoom-effect works*/
.image-box img {
    max-width: 100%;
    transform-origin: var(--posX) var(--posY);
    transition: all 2.0s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

/*Zoom-factor*/
.image-box:hover img {
    transform: scale(1.5);
}
